/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{ 
    max-width: 100%;
}

body{
    font-family: "Lato", sans-serif;
}



/* UTILITIES */

.bg-lightgrey{
    background-color: lightgrey;
}

.bg-beige{
    background-color: beige;
}

.bg-cyan{
    background-color: rgb(166, 215, 249);
}

.chat,
.chat-body{
    flex-grow: 1;
    flex-basis: 0%;
}

.chat{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.chat-body{
    overflow: auto;
}

.font-lightgrey{
    color: rgb(177, 177, 177);
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}


/* LAYOUT */

#app{
    display:flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(78, 147, 137) 0px, rgb(78, 147, 137) 200px, rgb(219, 219, 212) 200px, rgb(219, 219, 212) 100%);
}

.container{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
}

.sidebar{
    display: none;
    background-color: white;
    flex-shrink: 0;
}

.card{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.sidebar-header,
.sidebar-notice,
.profiles-list > li,
.chat-header{
    padding: 10px;
    height: 70px;
}

.chat-footer{
    height: 50px;
}


/* SIDEBAR */


.sidebar-header{
    border-right: 1px solid rgb(177, 177, 177);
}

.profile-img{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.sidebar-notice{
    display: none;
}

.sidebar-notice-bell{
    width: 50px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
}

.sidebar-search-bar{
    display: none;
}

.bar{
    height: 30px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding: 0 10px;
}

.profiles-list{
    border: 1px solid lightgray;
    flex-grow: 1;
}

.profiles-list > li{
    border-bottom: 1px solid lightgray;
}

.profiles-list > li.profile.hidden{
    display: none;
}

.profiles-list li > span{
    display: none;
}

.sidebar-profile .profile-img{
    margin: auto;
}

.profile-status{
    display: none;
}

.card .active,
.card li:hover{
    background-color: rgb(209, 219, 229);
    cursor: pointer;
}


/* CHAT */

.chatbar-profile{
    display: flex;
}

.chatbar-profile .tools-list{
    display: none;
}

.chatbar-profile .profile-status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.d-none{
    display: none;
}

.chat-footer .tools-list{
    display: flex;
    gap: 20px;
    padding: 10px 15px;
    color: rgb(177, 177, 177);
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}

.flex-g{
    flex-grow: 1;
}

.chat-body{
    background-image: url(./img/mine.jpg);
    background-size: auto;
}

.chat-body-mex{
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    gap: 20px;
}

.sent,
.received{
    width: 40%;
    padding: 15px 15px 40px;
    border-radius: 20px;  
}

.sent{
    align-self: flex-end;
    background-color: rgb(222, 248, 192);
}

.received{
    align-self: flex-start;
    background-color: white;
}

.time{
    bottom: 10px;
    right: 10px;
}

.chevron-icon{
    top: 10px;
    right: 10px;
}

.menu-hover{
    border: 1px solid black;
    position: absolute;
    top: 26px;
    right: 10px;
    background-color: lightgrey;
    z-index: -1;
    line-height: 1.7em;
    padding: 10px;
}

.chevron-icon:hover + .menu-hover{
    z-index: 1;

}


/* MEDIA QUERY */

    /* TABLET */

@media (min-width: 768px){

    .sidebar{
        display: block;
        width: 100px;
        display: flex;
        flex-direction: column;
    }

    .sidebar-header .profile-img{
        margin: auto;
    }
    
    .tools-list{
        display: none
    }
  
    .profile-status{
        display: none;
    }

    .chatbar-profile{
        align-items: center;
    }

    .chatbar-profile .tools-list{
        display: flex;
        gap: 20px;
        padding: 10px;
        color: rgb(177, 177, 177);
        margin-left: auto;
    }

    .d-flex{
        display: flex;
    }

    .chat-body-mex{
        padding: 60px 60px;
    }
}



    /* DESKTOP */

@media (min-width: 1200px){
    
    .container{
        width: 80%;
        height: 90%;
    }

    .sidebar{
        width: 370px;
    }

    .sidebar-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tools-list{
        display: flex;
        gap: 20px;
        padding: 10px;
        color: rgb(177, 177, 177);
    }

    .sidebar-notice{
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .sidebar-notice-bell{
        display: flex;
        color: rgb(166, 215, 249);
    }

    .sidebar-bell{
        align-self: center;
        margin: auto;
        font-size: xx-large;
    }

    .sidebar-notice figcaption{
        padding: 0 10px;
    }

    .sidebar-notice figcaption a{
        text-decoration: underline;
    }

    .sidebar-search-bar{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .profiles-list{
        overflow: auto;
    }

    .profiles-list > li{
        display: flex;
        justify-content: space-between;
    }

    .profiles-list li > span{
        display: block;
    }
    
    .sidebar-profile,
    .chatbar-profile{
        display: flex;
    }

    .profile-status{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    .card-body{
        overflow: auto;
    }
    
    .chat-body-mex{
        padding: 40px 35px;
    }

}
